.container-modal {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(43, 41, 41, 0.541);
  backdrop-filter: blur(20px);
  z-index: 500;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.form-modal {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  animation: fadeUp 500ms ease;
}

@keyframes fadeUp {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.form-modal > h1 {
  font-size: 20px;
}

.icon-close {
  cursor: pointer;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(182, 181, 181, 0.486);
  padding: 10px;
  width: 100%;
  transition: 500ms ease;
}

.input:focus {
  border: 1px solid #a8a868;
}

.date-picker {
  padding: 10px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(182, 181, 181, 0.486);
}

.date-picker:focus {
  border: 1px solid #a8a868;
}

.container-cards {
  display: flex;
  gap: 20px;
}

.card-vehicle {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: #cecec0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 500ms ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.conatiner-places {
  display: flex;
  gap: 10px;
}

.place {
  width: 40px;
  height: 50px;
  background-color: #cecec0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-vehicle-select {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: #e9eb75;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 500ms ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card-vehicle:hover {
  background-color: #e9eb75;
}

.button-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5a59c;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  margin-top: 30px;
  transition: 500ms ease;
  border: none;
  cursor: pointer;
}

.button-modal:hover {
  background-color: #999990;
}

@media (max-width: 524px) {
  .form-modal {
    width: auto;
    margin: 20px;
  }
}
